<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

<img src="https://1000logos.net/wp-content/uploads/2018/01/supreme-logo.png">

    <%= yield%>
  </body>
</html>
