<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

   <a href="/" style="float:left"><img style="height:100px" src="https://logos-download.com/wp-content/uploads/2016/03/Supreme_logo.jpg" alt="Home Page"></a>


    <% if session[:user_id] %>
      <form style="float:right" action="/logout" method="post">
        <input type="submit"value="Log Out">
      </form>
      <% end %>
      <% if request.path == '/' || request.path == '/logout' %>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      <% end %>

    <%= yield%>
  </body>
</html>
