<form action="/login">
  Email:<br>
  <input type="text" name="userid">
  <br>
  Password:<br>
  <input type ="password" name="psw">
  <br>
  <br>
  <div class="but">
    <button class="button">Submit</button>
  </div>
  <br>
  <br>
  <br>
</form>
